mixin range-slider(options)
    div(class="range-slider")
        div.range-slider__info
            label()= options.name
            .range-slider__result
                span(
                    id= options.resultId
                )
        div#range-slider