mixin range-slider(options)
    div(class="range-slider" id="range-slider" se-min=`${options.from}` se-step=`${options.step}` se-min-value="5000" se-max-value="10000" se-max=`${options.to}`)
        .range-slider__touch-left
            span
        .range-slider__touch-right
            span
        .range-slider__line
            span