mixin room-slider(options)
    .room-slider
        .room-slider__next expand_more
        .room-slider__prev expand_more
        .room-slider__slides
            block
        .room-slider__nav