include ..\card\card.pug
include ..\date-picker\date-picker.pug
include ..\field-wrapper\field-wrapper.pug
include ..\dropdown\dropdown.pug
include ..\link\link.pug
include ..\room-info\room-info.pug
include ..\services\services.pug



mixin reservation(options)
    +card({uiKit: true})
        div(class="reservation" id=options.id)
            +card-section()
                +room-info({room: options.room, category: options.category, price: options.price})
            +date-picker({nameStart: "Прибытие", idstart: options.idstart, nameEnd: "Выезд", idend: options.idend})
            +field-wrapper({name: "Гости"})
                +dropdown({text: "Сколько гостей", display: "summation"})
                    +dropdown-option({item: "Взрослые", id: "item1"})
                    +dropdown-option({item: "Дети", id: "item2"})
                    +dropdown-option({item: "Младенцы",id: "item3"})
            +services({})
                block
            +btn({big: true, text: "Забронировать"})