mixin subs-field(options)
    .subs-field
        input(class="subs-field__email", type="email", placeholder=`${options.placeholder}`,value=options.value)
        input(class="subs-field__submit", type="submit", value="arrow_forward")