@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

// Modules
@import "../../components/blocks/logo/logo.scss";
@import "../../components/blocks/color-item/color-item.scss";
@import "../../components/blocks/text-item/text-item.scss";
@import "../../components/blocks/header/header.scss";
@import "../../components/blocks/main-wrapper/main-wrapper.scss";
@import "../../components/blocks/text-field/text-field.scss";
@import "../../components/blocks/dropdown/dropdown.scss";
@import "../../components/blocks/date-picker/date-picker.scss";
@import "../../components/blocks/field-wrapper/field-wrapper.scss";
@import "../../components/blocks/date-dropdown/date-dropdown.scss";
@import "../../components/blocks/date-filter/date-filter.scss";
@import "../../components/blocks/subs-field/subs-field.scss";
@import "../../components/blocks/checkbox-btn/checkbox-btn.scss";
@import "../../components/blocks/radio-btn/radio-btn.scss";