@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  font-family: Montserrat;
  font-style: normal;
  line-height: 24px;
  color:  $dark-75-color;
}

h1 {
  margin-bottom: 20px;
  font-family: Quicksand,Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color:  $dark-color;
  letter-spacing: -0.5px;
}

h2 {
  font-family: Quicksand,Montserrat;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color:  $dark-color;
}

h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color:  $dark-color;
}

.greybg {
  background: #E5E5E5;
}


// Modules
@import "../../components/blocks/logo/logo.scss";
@import "../../components/blocks/color-item/color-item.scss";
@import "../../components/blocks/text-item/text-item.scss";
@import "../../components/blocks/header/header.scss";
@import "../../components/blocks/main-wrapper/main-wrapper.scss";
@import "../../components/blocks/text-field/text-field.scss";
@import "../../components/blocks/dropdown/dropdown.scss";
@import "../../components/blocks/field-wrapper/field-wrapper.scss";
@import "../../components/blocks/date-picker/date-picker.scss";
@import "../../components/blocks/subs-field/subs-field.scss";
@import "../../components/blocks/checkbox-btn/checkbox-btn.scss";
@import "../../components/blocks/radio-btn/radio-btn.scss";
@import "../../components/blocks/toggle/toggle.scss";
@import "../../components/blocks/rate-btn/rate-btn.scss";
@import "../../components/blocks/like-btn/like-btn.scss";
@import "../../components/blocks/range-slider/range-slider.scss";
@import "../../components/blocks/link/link.scss";
@import "../../components/blocks/pagination/pagination.scss";
@import "../../components/blocks/expand-checklist/expand-checklist.scss";
@import "../../components/blocks/bullet/bullet.scss";
@import "../../components/blocks/icon-text-list/icon-text-list.scss";
@import "../../components/blocks/comment/comment.scss";
@import "../../components/blocks/wrapper/wrapper.scss";
@import "../../components/blocks/card/card.scss";
@import "../../components/blocks/search/search.scss";
@import "../../components/blocks/sign-up/sign-up.scss";
@import "../../components/blocks/reservation/reservation.scss";
@import "../../components/blocks/sign-in/sign-in.scss";
@import "../../components/blocks/offer/offer.scss";