.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__page {
        position: relative;
        &:nth-last-child(n+2) {
            margin-right: 30px;
        }
        & a, & a:visited {
            display: flex;
            white-space: nowrap;
            color: $dark-50-color;
        }
        &:hover > ul, .navigation__submenu:hover {
            visibility: visible;
            opacity: 1;
        }
        &_current a {
            font-weight: bold;
            color: $dark-75-color;
        }
    }
    &__submenu {
        background: #fff;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all .2s ease;
        margin-top: 2rem;
        left: -10px;
        & + a::after {
            content: "expand_more";
            font-family: Material Icons;
            font-size: 24px;
        }
    }
}