mixin comment(options)
    .comment
        .comment__author
            img(class="comment__author-avatar" src=`assets/img/${options.img}` alt="")
            .comment__info
                p.comment__name= options.name
                p= options.time
        .comment__body
            block
            .comment__text= options.text