.comment {
    padding-top: 10px;
    max-width: 720px;
    &__author {
        display: flex;
        margin-bottom: 10px;
        color: $dark-75-color;
        &-avatar {
            width: 48px;
            height: 48px;
            box-sizing: border-box;
            border: 2px solid #fff;
            border-radius: 32px;
            margin-right: 10px;
        }
    }
    &__name {
        font-weight: bold;
    }
    &__body {
        display: flex;
    }
    &__text {
        padding-left: 8px;
        color: $dark-75-color;
    }
}