.main-wrapper {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.main-wrapper__item {
    width: 320px;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 100px;
}