.main-wrapper {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
}

.main-wrapper__item {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}