.main-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: $desktopWidth;
    width: 100%;
}

.main-wrapper__item {
    &:nth-last-child(n+2) {
        margin: 0 2rem 100px 0;
    }
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    &_margin {
        margin-bottom: 200px;
    }
}