mixin text-field(options)
    - var inputClassName = "text-field"
    -inputClassName += options.focus ? " text-field_focus" : ""
    input(class=inputClassName, type="text", placeholder=`${options.placeholder}`,value=options.value)