.toggle {
    position: relative;
    width: 100%;
    display: flex;
    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + .toggle__label:before {
            border-color: $purple-color;
        }
        &:checked + .toggle__label:after {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            left: 23px;
        }
    }
    &__label {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 40px;
            height: 20px;
            border: 1px solid $dark-25-color;
            border-radius: 10px;
            box-sizing: border-box;
            cursor: pointer;
        }
        &::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 5px;
            width: 12px;
            height: 12px;
            border-radius: 10px;
            box-sizing: border-box;
            background-color: $dark-25-color;
            cursor: pointer;
            transition: .2s;
        }
        padding: 1px 0 1px 50px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        font-size: $mainFontSize;
        line-height: 18px;
    }
    &:hover .toggle__label::before{
        border-color: $purple-color;
    }
    &:nth-last-child(n+2) {
        margin-bottom: 10px;
    }
    &:last-child {
        // margin-bottom: 30px;
    }
}