.demo {
    background: url(/assets/img/bg.jpg) no-repeat center;
    background-size: cover;
    padding: 70px 20px;
    &__slogan {
        text-align: right;
        margin-top: 320px;
        margin-left: auto;
        width: 19rem;
        @media screen and (max-width: $smDesktopWidth) {
            margin-top: 180px;
        }
    }
}