include ..\components\blocks\logo\logo.pug
include ..\components\blocks\main-wrapper\main-wrapper.pug
include ..\components\blocks\text-field\text-field.pug
include ..\components\blocks\field-wrapper\field-wrapper.pug
include ..\components\blocks\dropdown\dropdown.pug
include ..\components\blocks\date-picker\date-picker.pug
include ..\components\blocks\subs-field\subs-field.pug
include ..\components\blocks\checkbox-btn\checkbox-btn.pug
include ..\components\blocks\radio-btn\radio-btn.pug
include ..\components\blocks\toggle\toggle.pug
include ..\components\blocks\rate-btn\rate-btn.pug
include ..\components\blocks\like-btn\like-btn.pug
include ..\components\blocks\range-slider\range-slider.pug
include ..\components\blocks\link\link.pug
include ..\components\blocks\pagination\pagination.pug
include ..\components\blocks\expand-checklist\expand-checklist.pug
include ..\components\blocks\bullet\bullet.pug
include ..\components\blocks\icon-text-list\icon-text-list.pug
include ..\components\blocks\comment\comment.pug
include ..\components\blocks\wrapper\wrapper.pug
//- include ..\components\blocks\btn\btn.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Form Elements
    body
        header
            +wrapper()
                +logo({})
        +mainWrapper()
                +mainWrapperItem({})
                    +field-wrapper({name:"Text field", status: "default"})
                        +text-field({placeholder: "Email"})
                    +field-wrapper({name:"Text field", status: "Hover / Focus"})
                        +text-field({placeholder: "Some text", focus: true, value: "This is pretty awesome"})
                    +field-wrapper({name: "Dropdown", status: "default"})
                        +dropdown({text: "Сколько гостей", display: "summation"})
                            +dropdown-option({item: "Взрослые", id: "item1"})
                            +dropdown-option({item: "Дети", id: "item2"})
                            +dropdown-option({item: "Младенцы",id: "item3"})
                    +field-wrapper({name: "Masked text field", status: "default"})
                        +date-input({placeholder: "ДД.ММ.ГГГГ"})
                    +date-picker({nameStart: "Date dropdown", idstart: "date-picker-start", nameEnd: "Date dropdown", idend: "date-picker-end"})
                    +field-wrapper({name: "Filter date dropdown", tight: true})
                        +date-filter({id: "date-filter"})
                    +field-wrapper({name: "Subscription text field", tight: true})
                        +subs-field({placeholder: "Email"})
                +mainWrapperItem({})
                    +field-wrapper({name: "Checkbox Buttons",highBottom: true, tocolumn: true})
                        +checkbox-btn({text: "Можно курить", name: "smoking"})
                        +checkbox-btn({text: "Можно с питомцами", name: "pets", checked: true})
                        +checkbox-btn({text: "Можно пригласить гостей (до 10 человек)", name: "guests", checked: true})
                    +field-wrapper({name: "Radio Buttons",highBottom: true})
                        +radio-btn-container()
                            +radio-btn({text: "Мужчина", name: "sex", id: "men", active: true})
                            +radio-btn({text: "Женщина", name: "sex", id: "women"})
                    +field-wrapper({name: "Toggle",highBottom: true, tocolumn: true})
                        +toggle({text:"Получать спецпредложения", name: "offers", checked: true})
                        +toggle({text:"Получать спецпредложения"})
                    +field-wrapper({name: "Like button",highBottom: true})
                        +like-btn({likes: 2})
                        +like-btn({likes: 12, liked: true})
                    +field-wrapper({name: "Rate button",highBottom: true})
                        +rate-btn({stars: 5,name:"rating-1", checked: 4})
                        +rate-btn({stars: 5,name:"rating-2", checked: 5})

                +mainWrapperItem({})
                    +range-slider({name: "Range slider", resultId: "RangeSliderResult"})
                    +field-wrapper({name:"Buttons",highBottom: true})
                        +link({text: "Click me", btn: true})
                        +link({text: "Click me", hover: true, btn: true})
                        +link({text: "Click me", borderBtn: true})
                        +link({text: "Click me", borderBtn: true, hover: true})
                        +link({text: "Click me"})
                        +link({text: "Click me",  hover: true})
                        +link({text: "Перейти к оплате", bigBtn: true})
                    +field-wrapper({name:"Pagination",highBottom: true})
                        +pagination({currentPage: 1, total: 15})
                +mainWrapperItem({margin: true})
                    +field-wrapper({name: "Dropdown", status: "default"})
                        +dropdown({text: "2 спальни, 2 кровати...", display: "listing"})
                            +dropdown-option({item: "Спальни", id: "item1"})
                            +dropdown-option({item: "Кровати", id: "item2"})
                            +dropdown-option({item: "Ванные комнаты",id: "item3"})
                    +field-wrapper({name: "Dropdown", status: "expanded", display: "listing"})
                        +dropdown({text: "2 спальни, 2 кровати...", display: "listing", expand: true})
                            +dropdown-option({item: "Спальни", id: "item1"})
                            +dropdown-option({item: "Кровати", id: "item2"})
                            +dropdown-option({item: "Ванные комнаты",id: "item3"})
                +mainWrapperItem({})
                    +field-wrapper({name: "Dropdown", status: "default", display: "summation"})
                        +dropdown({text: "Сколько гостей", display: "summation", expand: true})
                            +dropdown-option({item: "Взрослые", id: "item1"})
                            +dropdown-option({item: "Дети", id: "item2"})
                            +dropdown-option({item: "Младенцы",id: "item3"})
                +mainWrapperItem({})
                    +field-wrapper({name: "Dropdown", status: "default", display: "summation"})
                        +dropdown({text: "Сколько гостей", display: "summation", expand: true})
                            +dropdown-option({item: "Взрослые", id: "item1"})
                            +dropdown-option({item: "Дети", id: "item2"})
                            +dropdown-option({item: "Младенцы",id: "item3"})
                +mainWrapperItem({})
                    +expand-checklist({title: "expandable checkbox list", id: "expandChecklist"})
                        +checkbox-btn({text: "Завтрак", name: "breakfast"})
                        +checkbox-btn({text: "Письменный стол", name: "table", checked: true})
                        +checkbox-btn({text: "Стул для кормления", name: "chair", checked: true})
                        +checkbox-btn({text: "Кроватка", name: "bed", checked: true})
                        +checkbox-btn({text: "Телевизор", name: "tv"})
                        +checkbox-btn({text: "Шампунь", name: "shampoo"})
                        +checkbox-btn({text: "Телевизор", name: "tv0"})
                        +checkbox-btn({text: "Шампунь", name: "shampoo0"})
                    +expand-checklist({title: "expandable checkbox list", id: "expandChecklist2", expand: true})
                        +checkbox-btn({text: "Завтрак", name: "breakfast1"})
                        +checkbox-btn({text: "Письменный стол", name: "table1", checked: true})
                        +checkbox-btn({text: "Стул для кормления", name: "chair1", checked: true})
                        +checkbox-btn({text: "Кроватка", name: "bed1", checked: true})
                        +checkbox-btn({text: "Телевизор", name: "tv1"})
                        +checkbox-btn({text: "Шампунь", name: "shampoo1"})
                        +checkbox-btn({text: "Телевизор", name: "tv2"})
                        +checkbox-btn({text: "Шампунь", name: "shampoo2"})
                +mainWrapperItem({})
                    +field-wrapper({name: "rich Checkbox Buttons", highBottom: true})
                        +checkbox-btn({text: "Широкий коридор", name: "rich-1", description: "Ширина коридоров в номере не менее 91 см."})
                        +checkbox-btn({text: "Помощник для инвалидов", name: "rich-2", description: "На 1 этаже вас встретит специалист  и проводит до номера."})
                +mainWrapperItem({})
                    +field-wrapper({name: "bullet list"})
                        +bullet()
                            +bulletItem({text: "Нельзя с питомцами"})
                            +bulletItem({text: "Без вечеринок и мероприятий"})
                            +bulletItem({text: "Время прибытия — после 13:00, а выезд до 12:00"})
                +mainWrapperItem({})
                    +iconTextList()
                        +iconTextListItem({icon: "insert_emoticon", title: "Комфорт", description: "Шумопоглощающие стены"})
                        +iconTextListItem({icon: "location_city", title: "Удобство", description: "Окно в каждой из спален"})

                +comment({name: "Мурад Сарафанов", time: "5 дней назад", img: "murad.png", text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})
                    +like-btn({likes: 12, liked: true})