include ..\components\blocks\wrapper\wrapper.pug
include ..\components\blocks\logo\logo.pug
include ..\components\blocks\header\header.pug
include ..\components\blocks\footer\footer.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Headers & Footers
    body.greybg
        +wrapper({})
                +logo({})
        +header({
            uiKit: true,
            loginText: "Login",
            registerText: "Register"
        })
            +page({link: "#", page: "Home", current: true})
            +page({link: "", page: "About Us"})
            +page({link: "", page: "Services"})
                +submenu()
                    +page({link: "#", page: "Service 1"})
                    +page({link: "", page: "Service 2"})
                    +page({link: "", page: "Service 3"}) 
            +page({link: "", page: "Careers"})
            +page({link: "", page: "News"})
            +page({link: "", page: "Documentation"})
        +header({
            uiKit: true,
            profile: "Cosmin Negoita",
            loginText: "Login",
            registerText: "Register"
        })
            +page({link: "#", page: "Home", current: true})
            +page({link: "", page: "About Us"})
            +page({link: "", page: "Services"})
                +submenu()
                    +page({link: "#", page: "Service 1"})
                    +page({link: "", page: "Service 2"})
                    +page({link: "", page: "Service 3"}) 
            +page({link: "", page: "Careers"})
            +page({link: "", page: "News"})
            +page({link: "", page: "Documentation"})
        +footer({
            uiKit: true,
            about: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
            formTitle: "Subscribe to our newsletter",
            formText: "Receive our latest news and promotions in your inbox!",
            formPlaceholder: "Your email address",
            copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved."
        })
            +section({name:"Navigation"})
                +sectionItem({name:"About Us"})
                +sectionItem({name:"News"})
                +sectionItem({name:"Support"})
                +sectionItem({name:"Products"})
            +section({name:"ABOUT US"})
                +sectionItem({name:"Who we are"})
                +sectionItem({name:"Our team"})
                +sectionItem({name:"Careers"})
                +sectionItem({name:"Investors"})
            +section({name:"Support"})
                +sectionItem({name:"Documentation"})
                +sectionItem({name:"Community"})
                +sectionItem({name:"Careers"})
                +sectionItem({name:"Get in Touch"})
        +footerCreative({
            uiKit: true,
            about: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
        })
