include ../components/blocks/color-item/color-item.pug

doctype html
html(lang='en')
	head
		
	body
		p ---Ui-kit
		ul
			li
				a(href="ColorsType.html") Colors & Type
			li
				a(href="FormElements.html") Form Elements
			li
				a(href="Cards.html") Cards
			li
				a(href="HeadersAndFooters.html") Headers & Footers
		p ---Pages
		ul
			li
				a(href="Landing.html") Landing
			li
				a(href="LandingDatesDrop.html") Landing page/Dates Dropdown
			li
				a(href="LandingGuestsDrop.html") Landing page/Guests Dropdown
			li
				a(href="SearchFilter.html") SearchFilter
			li
				a(href="RoomDetails.html") Room Details
			li
				a(href="LandingGuestsDrop.html") 