include ..\components\blocks\logo\logo.pug
include ..\components\blocks\header\header.pug
include ..\components\blocks\footer\footer.pug
include ..\components\blocks\demo\demo.pug
include ..\components\blocks\search\search.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Landing Page
    body
        +header({
            loginText: "Войти",
            registerText: "Зарегистрироваться"
        })
            +page({link: "", page: "О нас"})
            +page({link: "", page: "Услуги"})
                +submenu()
                    +page({link: "#", page: "Услуга 1"})
                    +page({link: "", page: "Услуга 2"})
                    +page({link: "", page: "Услуга 3"}) 
            +page({link: "", page: "Вакансии"})
            +page({link: "", page: "Новости"})
            +page({link: "", page: "Соглашения"})
                +submenu()
                    +page({link: "#", page: "Соглашение 1"})
                    +page({link: "", page: "Соглашение 2"})
                    +page({link: "", page: "Соглашение 3"})
        +demo({slogan: "Лучшие номера для вашей работы, отдыха и просто вдохновения"})
        +footer({
            about: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
            formTitle: "Подписка",
            formText: "Получайте специальные предложения и новости сервиса",
            formPlaceholder: "Email",
            copyright: "Copyright © 2018 Toxin отель. Все права зачищены."
        })
            +section({name:"навигация"})
                +sectionItem({name:"О нас"})
                +sectionItem({name:"Новости"})
                +sectionItem({name:"Служба поддержки"})
                +sectionItem({name:"Услуги"})
            +section({name:"О нас"})
                +sectionItem({name:"О сервисе"})
                +sectionItem({name:"Наша команда"})
                +sectionItem({name:"Вакансии"})
                +sectionItem({name:"Инвесторы"})
            +section({name:"Служба поддержки"})
                +sectionItem({name:"Соглашения"})
                +sectionItem({name:"Сообщества"})
                +sectionItem({name:"Связь с нами"})