mixin dropdown(options)
    .dropdown
        p.dropdown__selection= options.text
        i.dropdown__turn expand_more
        .dropdown__menu
            block
            .dropdown__btn-wrapper
                button.dropdown__clear Очистить
                button.dropdown__apply Применить

mixin dropdown-option(options)
    .dropdown__option(data-id=`${options.id}`)
        div
            p.dropdown__item= options.item