mixin dropdown-option(options)
    .dropdown__option(data-id=`${options.data-id}`)
        div
            p.dropdown__item= options.item

.dropdown-container
    span.dropdown__name dropdown
    span.dropdown__status default
    .dropdown
        p.dropdown__selection Сколько гостей
        i.dropdown__turn expand_more
        .dropdown__menu
            +dropdown-option({item: "Взрослые"})
            +dropdown-option({item: "Дети"})
            +dropdown-option({item: "Младенцы"})