.dropdown {
    position: relative;
    // margin-bottom: 10px; Form Elements
    display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	padding: 12px 9px 12px 15px;
    align-items: center;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
    cursor: pointer;
    transition: .5s;
    &:hover {
        border-color: $dark-50-color;
    }
    &__selection {
        position: relative;
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $dark-75-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__turn {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        user-select: none; 
        font-size: 24px;
        color: $dark-50-color;
    }
    &__menu {
        position: absolute;
        z-index: 2;
        top: 44px;
        right: 0;
        left: 0;
        display: none;
        margin: -2px -1px -1px;
        cursor: default;
        border: 1px solid $dark-50-color;
        border-radius: 0 0 4px 4px;
        background-color: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        &-open {
            border-color: $dark-50-color;
            border-radius: 4px 4px 0 0;
            .dropdown__menu {
                display: block;
            }
        }
    }
    &__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 6px 0 15px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        background-color: #fff;
        color: $dark-color;
    }
    &__apply,&__clear {
        background-color: #fff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__apply {
        padding-right: 7px;
        color: $purple-color;
    }
    &__clear {
        padding-left: 14px;
        color: $dark-50-color;
    }
    &__btn-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 7px;
        padding: 13px 0;
    }
    &__controls {
        display: flex;
        align-items: center;
    }
    &__counter {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        width: 32px;
        text-align: center;
        text-transform: uppercase;
        padding: 0 10px;
    }
    &__btn-increment, &__btn-decrement {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        line-height: 30px;
        color: rgba(31, 32, 65, 0.5);
        border: 1px solid $dark-25-color;
        border-radius: 50%;
        background-color: #fff;
        user-select: none;
        cursor: pointer;
    }
    &__forbid {
        border-color: $dark-5-color;
    }
}