// Fonts here

@font-face {
  font-family: "Quicksand";
  font-weight: bold;
  src: url('../../assets/fonts/quicksand/bold/Quicksand-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/quicksand/bold/Quicksand-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/quicksand/bold/Quicksand-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/quicksand/bold/Quicksand-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/quicksand/bold/Quicksand-Bold.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "Quicksand";
  font-weight: normal;
  src: url('../../assets/fonts/quicksand/regular/Quicksand-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/quicksand/regular/Quicksand-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/quicksand/regular/Quicksand-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/quicksand/regular/Quicksand-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/quicksand/regular/Quicksand-Regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url('../../assets/fonts/montserrat/regular/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/montserrat/regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/montserrat/regular/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/montserrat/regular/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/montserrat/regular/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url('../../assets/fonts/montserrat/bold/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/montserrat/bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/montserrat/bold/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/montserrat/bold/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/montserrat/bold/Montserrat-Bold.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "Material Icons";
  font-weight: normal;
  src: url('../../assets/fonts/material-icons/regular/MaterialIcons-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/material-icons/regular/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/material-icons/regular/MaterialIcons-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/material-icons/regular/MaterialIcons-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/material-icons/regular/MaterialIcons-Regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url('../../assets/fonts/'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/open-sans/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/open-sans/regular/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/open-sans/regular/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
      //  url('../../assets/fonts/open-sans/regular/OpenSans-Regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url('../../assets/fonts/'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/open-sans/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/open-sans/bold/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/open-sans/bold/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
      //  url('../../assets/fonts/open-sans/bold/OpenSans-Bold.svg') format('svg'); /* Legacy iOS */
}