// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 19px;
$mainFontWeight          : 400;
$mainLineHeight          : 29px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$dark-color              : #1F2041;
$dark-75-color           : rgba(31, 32, 65, 0.75);
$dark-50-color           : rgba(31, 32, 65, 0.5);
$dark-25-color           : rgba(31, 32, 65, 0.25);
$dark-5-color            : rgba(31, 32, 65, 0.05);
$purple-color            : #BC9CFF;
$green-color             : #6FCF97;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
