<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Moment Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

mixin date-dropdown(options)
    .date-dropdown
        p.date-dropdown__selection= options.value
        i.date-dropdown__turn expand_more
        block