.date-filter {
    position: relative;
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	padding: 12px 9px 12px 15px;
    align-items: center;
	border: 1px solid #E2E2E2;
	border-radius: 4px;
    cursor: pointer;
    transition: .5s;
    &:hover {
        border-color: $dark-50-color;
    }
    &__selection {
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $dark-75-color;
        text-transform: uppercase;
    }
    &__turn {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        user-select: none; 
        font-size: 24px;
        color: $dark-50-color;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
}