include ../logo/logo.pug
include ..\navigation\navigation.pug
include ..\link\link.pug

mixin header(options)
    header
        div(class=options.uiKit ? 'header header_ui-kit' : "header")
            +logo({title: true})
            nav.header__nav
                +navigation({})
                    block
            if (options.profile)
                span.header__profile= options.profile
            else
                .header__sign-in
                    +link({border: true, text: options.loginText, link: "#"})
                    +link({text: options.registerText, link: "#", inHeader: true})