include ../logo/logo.pug
include ..\navigation\navigation.pug
include ..\link\link.pug

mixin header(options)
    header
        div(class=options.uiKit ? 'header header_ui-kit' : "header")
            +logo({title: true})
            nav
                +navigation({})
                    +page({link: "#", page: "Home", current: true})
                    +page({link: "", page: "About Us"})
                    +page({link: "", page: "Services"})
                        +submenu()
                            +page({link: "#", page: "Service 1"})
                            +page({link: "", page: "Service 2"})
                            +page({link: "", page: "Service 3"}) 
                    +page({link: "", page: "Careers"})
                    +page({link: "", page: "News"})
                    +page({link: "", page: "Documentation"})
            if (options.profile)
                span.header__profile= options.profile
            else
                +link({border: true, text: "Login", link: "#"})
                +link({text: "Register", link: "#"})