mixin radio-btn(options)
    .radio-btn
        input(class="radio-btn__radio" type="radio" name=`${options.name}` id=`${options.id}`)
        label(class="radio-btn__label" for=`${options.id}`)= options.text

mixin radio-btn-container(options)
    .radio-btn__container
        block