include ..\card\card.pug
include ..\link\link.pug
include ..\field-wrapper\field-wrapper.pug
include ..\text-field\text-field.pug
include ..\offer\offer.pug

mixin sign-in(options)
    +card({uiKit: true})
        h1 Войти
        +card-section()
            +text-field({placeholder: "Email",nametag: "email", type: "email"})
            +text-field({placeholder: "Пароль",nametag: "password", type: "password"})
        +btn({text: "Войти", big: true})
        +offer({text: "Нет аккаунта на Toxin?", btn: "Создать", link: "#"})