mixin service(options)
    div.services__service
        p.services__name= options.name
        -if (options.info)
            span.services__more i
        span.services__price= options.price

mixin services(options)
    div.services
        block
    div.services__total
        .services__total-name Итого
        .services__total-dots
        .services__total-price 0