.result {
    flex: 1;
    margin: 30px;
    &__title {
        flex-basis: 100%;
    }
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}