mixin search-result(options)
    .result
        .result__body
            h1.result__title Номера, которые мы для вас подобрали
            +room-preview({
                    room: 888,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 840,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 980,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 856,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 740,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 982,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 678,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 450,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 350,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 666,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 444,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
            +room-preview({
                    room: 352,
                    category: "Люкс",
                    price: "9990",
                    starsChecked: 4,
                    reviews: 145
                })
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="1")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="2")
                    .room-slider__slide
                        img(src="assets/img/888.jpg", alt="3")
        .result__nav