.wrapper {
    max-width: $desktopWidth;
    width: 100%;
    margin: 0 auto;
    &_flex {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &_padding {
        padding: 70px 20px;
    }
    &__block {
        margin: 0 20px;
        flex-basis: 320px;
        display: flex;
        flex-flow: column wrap;
        &_narrow {
            max-width: 266px;
        }
        &_ui-kit {
            @media screen and (min-width: $smDesktopWidth){
                margin-top: 100px;
                &:nth-child(7), &:nth-child(8), &:nth-child(9) {
                    margin-top: 200px;
                }
                &:nth-child(10) {
                    margin-top: 40px;
                }
            }
            @media screen and (max-width: $smDesktopWidth) and (min-width: $tableWidth){
                margin-top: 30px;
                &:nth-child(7), &:nth-child(8) {
                    margin-top: 200px;
                }
                &:nth-child(9) {
                    margin-top: 40px;
                }
                &:nth-child(10) {
                    margin-top: 40px;
                }
            }
            @media screen and (max-width: $tableWidth) {
                margin-top: 30px;
                &:nth-child(7), &:nth-child(8) {
                    margin-top: 200px;
                }
                &:nth-child(9) {
                    margin-top: 40px;
                }
                &:nth-child(10) {
                    margin-top: 40px;
                }
            }
        }
    }
}