@import "datepicker-config";

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  position: relative;  
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $datepickerDayCellSize;
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    z-index: -1;
  }
  
  
  &.-focus-{
    color: #ffffff;
    font-weight: bold;
    &::before {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }

  &.-current- {
    color: #fff;
    font-weight: bold;
    &::before {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
  }

  &.-in-range- {
    background: linear-gradient(180deg,rgba(188, 156, 255, .25),rgba(139, 164, 249, .25));
    &.-focus- {
      opacity: .75;
    }
  }

  // &.-disabled- {
  //   // cursor: default;
  //   // color: map_get($datepickerTextColor, disabled);

  //   &.-focus- {
  //     // color: map_get($datepickerTextColor, disabled);
  //   }

  //   &.-in-range- {
  //     // color: darken(map_get($datepickerTextColor, disabled), 5);
  //   }

  //   &.-current- {
  //     &.-focus- {
  //       // color: map_get($datepickerTextColor, disabled);
  //     }
  //   }
  // }

  &.-range-from- {
    background: linear-gradient(180deg,rgba(188, 156, 255, .25),rgba(139, 164, 249, .25));
    font-weight: bold;
    border-radius: 22px;
    color: #fff;
    &::before {
      border-radius: 22px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }
  &.-range-to- {
    background: linear-gradient(180deg,rgba(188, 156, 255, .25),rgba(139, 164, 249, .25));
    border-radius:  0 22px 22px 0;
    font-weight: bold;
    color: #fff;
    &::before {
      border-radius: 22px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }

  &.-range-from-.-range-to- {
    border-radius: 22px;
  }

  &.-selected-  span{
    color: #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-weight: bold;
  }

  &:empty {
    cursor: default;
  }
}

//  Day names
// -------------------------------------------------

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--day-name {
  color: map_get($datepickerTextColor, dayNames);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
}

//  Day cell
// -------------------------------------------------

.datepicker--cell-day {
  width: (100/7)#{'%'};

  &.-other-month- {
    @extend %otherMonth;
  }
}


//  Months
// -------------------------------------------------

.datepicker--cells-months {
  height: $datepickerMinBodyHeight;
}

//  Month cell
// -------------------------

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

//  Years
// -------------------------------------------------

.datepicker--years {
  height: $datepickerMinBodyHeight;
}

.datepicker--cells-years {
  height: $datepickerMinBodyHeight;
}
//  Year cell
// -------------------------

.datepicker--cell-year {
  width: 100% / $datepickerYearsPerRow;
  height: 33.33%;

  &.-other-decade- {
    @extend %otherMonth;
  }
}