.text-item {
    display: flex;
    &:nth-child(1) {
        @media screen and (max-width: $tableWidth) {
            margin-top: 20px;
        }
    }
    &:nth-last-child(n+2) {
        margin-bottom: 50px;
        @media screen and (max-width: $tableWidth) {
            margin-bottom: 20px;
        }
    }
    &__demo {
        flex-basis: calc(100% - 40px);
    }

    &__name {
        margin-right: 30px;
        width: 40px;
        text-align: right;
        color: $dark-25-color;
        &_H1 {
            font-size: 24px;
            line-height: 29px;
        }
        &_H2 {
            font-size: 19px;
            line-height: 23px;
        }
        &_H3 {
            font-size: 12px;
            line-height: 15px;
        }
        &_Body {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

