.text-item {
    display: flex;
    &:nth-last-child(n+2) {
        margin-bottom: 50px;
    }
    &__wrapper {
        flex-basis: 400px;
    }
    &__demo {
        flex-basis: calc(100% - 40px);
    }

    &__name {
        margin-right: 30px;
        flex-basis: 40px;
        text-align: right;
        color: $dark-25-color;
        &_H1 {
            font-size: 24px;
            line-height: 29px;
        }
        &_H2 {
            font-size: 19px;
            line-height: 23px;
        }
        &_H3 {
            font-size: 12px;
            line-height: 15px;
        }
        &_Body {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

